@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
.underlineLink::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 25%;
	height: 1px;
	background-color: #9277ff;
	transition: width 0.3s;
}
.underlineLink:hover::after {
	width: 100%;
}
